<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao App-Thallys!</h1>
  <p class="lead">Essa e uma aplicação que é semelhante a um blog.</p>
  <hr class="my-4">
  <p>Desenvolvida com NodeJS e MongoDB</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class ="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p><br>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais!</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação: {{data}}</small>
        
    </div>
</div>

{{else}}
    <h5>Nenhuma postagem.</h5>
{{/each}}