<div>
    <div class="jumbotron ">
        <div class="text-center">
            <h1 class="display-4"><strong>Bem-vindo ao App-Thallys!</strong></h1>
            <p class="lead"><strong>Essa e uma aplicação que é semelhante a um blog.</strong></p>
            <hr class="my-4">
        </div>
        {{#if user}}
        {{else}}
        <p class="lead"><strong>Não esta cadastrado? Crie uma conta agora!</strong></p>
        <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Criar conta</a>
        {{/if}}

        <br><br>

        <h2>Informações recentes recentes: </h2>

        {{#each postagens}}

        <div class="card mt-4">
            <div class="card-body">
                <h3>{{titulo}}</h3>
                <p>{{descricao}}</p>
                <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais!</button></a>
                <hr>
                <small>Categoria: {{categoria.nome}}</small><br>
                <small>Data de publicação: {{data}}</small>
            </div>
        </div>

        {{else}}

        <h5 class="alert alert-danger">Nenhuma postagem</h5>

        {{/each}}
    </div>
</div>